<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Api Explorer TestSuit">
	<parameter name="Base_url" value="http://localhost:8080/pentaho/Login" />
	<parameter name="browser" value="chrome" />

	<test name="Testing in Chrome">
		<classes>
			<class name="cgi.penta.testUtills.BaseUtils" />
			<class name="cgi.penta.testScripts.Landing" />
		</classes>
	</test>

</suite> 

